<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/mobileNavBar') %>
    <main>
        <div class="editar-producto-container">
             <form action="/productos/<%= product.id %>/editar?_method=PUT" method="POST" class="editar-producto-form" enctype="application/json">
                 <div class="form-container-1">
                     <section class="section-1">
                         <div class="alerta-titulo"></div>
                         <div class="titulo-subcontainer">
                             <input type="text" name="brandName" id="titulo" value="<%= product.productBrand.name %>" required >
                         </div>
                         <div class="categoria-genero-subcontainer">
                             <div class="categoria-subcontainer">
                                 <label for="category">Categoría</label><br />
                                 <%# Categorias Loop %> 
                                 <select name="categoryId" id="categoria">          
                                     <% categories.forEach(category => { %>
                                         <option value=" <%= category.id %>  "> <%= category.name %> </option>
                                     <% }) %>
                                 </select>
                             </div>
                             <div class="genero-subcontainer">
                                 <label for="genero">Genero</label><br />
                                 <!--Genero Select-->
                                 <select name="gender" id="genero">
                                     <option value="Masculino">Masculino</option>
                                     <option value="Femenino">Femenino</option>
                                 </select>
                             </div>
                         </div>
                         <div class="alerta-color"></div>
                         <div class="color-subcontainer">
                             <div class="color-sub-sub-container">
                                 <label for="color">Color</label><br /> 
                                 <input type="text" name="color" id="color" value=<%= product.color %> required />       
                             </div>
                         </div>
                         <div class="alerta-descripcion"></div>
                         <div class="descripcion-subcontainer">
                             <label for="description">Descripción</label>
                             <textarea name="description" id="descripcion"><%= product.description %></textarea>
                         </div>
                     </section>
                     </div>
                     <div class="form-container-2">
                     <section class="section-2">
                         <div class="img-flex-container">
                             <% for( let i = 0; i < 3; i++ ) { %>
                                 <img src="/images/products<%= product.productImages[i].image_path %>  " alt="Foto - Producto">
                             <% } %> 
                         </div>
                     </section>
                     <section class="section-3">
                         <div class="talle-precio-subcontainer">
                             <div class="talle-subcontainer">
                                 <label for="sizes">Talles</label><br />
                                 <select name="sizes" id="talles" multiple required>
                                     <% sizes.forEach(size => { %>
                                         <option value=" <%= size.id %> " > <%= size.type  + " " + size.value %> </option>
                                     <% }) %>
                                 </select>
                             </div>
                             <div class="precio-subcontainer">
                                 <div class="alerta-precio"></div>
                                 <label for="precio">Precio</label>
                                 <span>
                                     <label for="price">$</label>
                                     <input type="text" name="price" id="precio" value="<%= product.price %>" required>
                                 </span>
                             </div>
                         </div>
                         <div class="botonera">
                             <button type="submit" class="agregar-producto-btn">Editar producto</button>
                             <button type="reset" class="cancelar-btn">Cancelar</button>
                         </div>
                     </section>
                 </div>
             </form>
        </div> 
     </main>
     <%- include('../partials/footerPrincipal') %>
     <script src="/js/editProductValidation.js"></script>
</body>
</html>