<!DOCTYPE html>
<html lang="en" class="html-home">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/b7372bc3ff.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <!--Producto-->
      <section class="contenedor-producto-detalle">
        <div class="producto-detalle-caja-1">
          <!--Imagen-->
          <img src="/images/products/<%= producto.imagenesUrl[0] %>" class="producto-detalle-img" alt="Zapato"/>
        </div>
        <!-- Contenedor Titulo & Precio--> 
        <div class="producto-detalle-caja-2">
          <h2 class="titulo"> <%= producto.titulo %> </h2>
          <p class="precio">$<%= producto.precio %> </p>
          <%  if (producto.porcentajeDescuento > 0) { %>
            <p class="descuento"> <%= producto.porcentajeDescuento %>% Off</p>
          <% } %>
          <!--Talles-->
          <h4 class="talles-titulo"> Talles </h4>
          <select name="producto-detalle-talles" id="select-cantidad">
            <!--JS bucle "for" -> talles -->
            <% for( let i = 0; i < producto.talles.length; i++ ) { %>
              <option value="1"> <%= producto.talles[i] %> </option>
            <% } %>
          </select>
          <h4 class="seleccionar-color-titulo"> Seleccionar Color: </h4>
          <div class="producto-detalle-colores-container">
            <% for( let i = 0; i < producto.colores.length; i++ ) { %>
              <span class="color"> <%= producto.colores[i] %> </span>
            <% } %>
          </div>
          <hr class="producto-detalle-linea"> 
          <button class="producto-detalle-boton-carrito">Agregar al carrito</button>
        </div>
      </section>
      <!-- Productos relacionados -->
      <h5 class="product-detail-productos-relacionados-title">PRODUCTOS RELACIONADOS</h5>
      <center>
        <hr class="product-detail-destacados-hr"> 
      </center>
      <section class="productos-relacionados-container">
        <div class="child-container">
          <!-- Solucionar problema <a> -->
          <% productosRelacionados.forEach(element => { %>
            <a href="/producto/<%= element.id %>">
            <article class="flex-item">
              <img src="/images/products/<%= element.imagenesUrl[0] %>" alt="Producto" />
              <div class="descripcion-container">
                <p> <%= element.titulo %> </p>
                <p>$ <%= element.precio %> </p>
              </div>
            </article>
          </a>            
          <% }); %> 
        </div>
    </section>
    </main>
    <%- include('../partials/footerPrincipal') %>
  </body>
</html>
