<!DOCTYPE html>
<html lang="en" class="html-home">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Productos</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="https://kit.fontawesome.com/b7372bc3ff.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <!--Main title-->
            <h1 class="products-list-main-title">Nuestros Productos</h1>

            <!--Main Container-->
            <section class="products-list-container">

                 <!--Product Generator-->
                <% productos.forEach(producto => { %> 
                    <a href="/productos/<%= producto.id %>" class="enlace">
                        <article class="product-container">
                            <section class="image-container">
                                <img src="/images/products<%= producto.imagenesUrl[0] %>" alt="product-img">
                            </section>
                            <section class="truck-icon-container">
                                <i class="fa-solid fa-truck fa-xl"></i>
                            </section>
                            <section class="title-container">
                                <h2 class="title"> <%= producto.titulo %> </h2>
                            </section>
                            <section class="price-discount-container">
                                <!--If product has %Off-->
                                 <% if (producto.porcentajeDescuento > 0) { %>
                                    <div>
                                        <!--Price without discount-->
                                        <p class="price"><del> $<%= producto.precio %> </del></p>

                                        <!--%Off-->
                                        <p class="discount"> <%= producto.porcentajeDescuento %>% Off </p>
                                    </div>
                                    <!--Price with discount-->
                                    <p class="price-with-discount">
                                        $<%= producto.precio - ((producto.precio * producto.porcentajeDescuento) / 100) %> 
                                    </p>
                                        
                                <!--If not-->
                                <% } else { %>
                                    <!--Price-->
                                    <p class="price"> $<%= producto.precio %> </p>
                                <% } %>
                            </section>
                        </article>
                    </a>
                <% }) %>
            </section>
        </main>
        <%- include('../partials/footerPrincipal') %>
    </body>
</html>