<!DOCTYPE html>
<html lang="en" class="html-home">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/b7372bc3ff.js" crossorigin="anonymous"></script>
    <title>Home</title>
  </head>
  <body>
  <%- include('./partials/header') %>
  <main>
      <!-- Carrousel -->
      <section class="carrousel">
        <article class="conteCarrousel">
          <div class="itemCarrousel" id="itemCarrousel-1">
            <div class="itemCarrouselTarjeta">
              <img
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-1.jpg"
                alt=""/>
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-3">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-2">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrousel" id="itemCarrousel-2">
            <div class="itemCarrouselTarjeta">
              <img
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-2.jpg"
                alt=""
              />
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-1">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-3">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrousel" id="itemCarrousel-3">
            <div class="itemCarrouselTarjeta">
              <img
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-3.jpg"
                alt=""
              />
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-2">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-1">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </article>
      </section>

      <!-- PRODUCTOS DESTACADOS - TITULO -->
      <h2 class="home-productos-destacados-titulo">PRODUCTOS DESTACADOS</h2>

      <!-- LINA DE SEPARACIÓN-->
      <center>
        <hr class="home-productos-destacados-hr">
      </center>

      <!-- PRODUCTOS DESTACADOS - GENERADOR -->
      <section class="contenedor-productos-home">
        <% productos.forEach(producto => { %>
          <a href="/producto/<%= producto.id %>">
            <article class="elements-subcontainer">
              <section class="img-container">
                <img src="/images/products<%= producto.imagenesUrl[0] %>" alt="producto" />
              </section>
              <section class="truck-icon-container">
                <i class="fa-solid fa-truck fa-xl"></i>
              </section>
              <section class="descripcion-container">
                <p class="titulo"> <%= producto.titulo %> </p>
                <% if (producto.porcentajeDescuento > 0) { %>
                  <p class="descuento"> %<%= producto.porcentajeDescuento %> Off</p>  
                <% } %>
                <p> $<%= producto.precio %> </p>
              </section>
            </article>
          </a>
        <% }); %>
      </section>
      
      <!-- OFERTAS IMPERDIBLES! - TITULO -->
      <h2 class="home-ofertas-titulo">OFERTAS IMPERDIBLES!</h2>

      <!-- LINA DE SEPARACIÓN-->
      <center>
        <hr class="home-ofertas-hr">
      </center>

      <!-- OFERTAS - GENERADOR -->
      <section class="contenedor-productos-home">
        <% productosEnOferta.forEach(producto => { %>
          <a href="/producto/<%= producto.id %>">
            <article class="elements-subcontainer">
              <section class="img-container">
                <img src="/images/products<%= producto.imagenesUrl[0] %>" alt="producto" />
              </section>
              <section class="truck-icon-container">
                <i class="fa-solid fa-truck fa-xl"></i>
              </section>
              <section class="descripcion-container">
                <p class="titulo"> <%= producto.titulo %> </p>
                <p class="descuento"> %<%= producto.porcentajeDescuento %> Off</p>
                <p> $<%= producto.precio %> </p>
              </section>
            </article>
          </a>
        <% }); %>
      </section>
  </main>
  <%- include('./partials/footerPrincipal') %>
  </body>
</html>
