<!DOCTYPE html>
<html lang="es" class="html-home">
  <%- include('./partials/head') %>
  <body>
  <%- include('./partials/header') %>
  <%- include('./partials/mobileNavBar') %>
  <main>
      <!-- Carrousel -->
      <section class="carrousel">
        <article class="conteCarrousel">
          <div class="itemCarrousel" id="itemCarrousel-1">
            <div class="itemCarrouselTarjeta">
              <img carrouserl 
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-1.jpg"
                alt=""/>
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-3">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-2">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrousel" id="itemCarrousel-2">
            <div class="itemCarrouselTarjeta">
              <img
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-2.jpg"
                alt=""
              />
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-1">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-3">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="itemCarrousel" id="itemCarrousel-3">
            <div class="itemCarrouselTarjeta">
              <img
                class="itemCarrousel-img"
                src="/images/carrusel-img/carrusel-img-3.jpg"
                alt=""
              />
            </div>
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-2">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#itemCarrousel-1">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </article>
      </section>

      <!-- PRODUCTOS DESTACADOS - TITULO -->
      <h2 class="home-productos-destacados-titulo">PRODUCTOS DESTACADOS</h2>

      <!-- LINA DE SEPARACIÓN-->
      <center>
        <hr class="home-productos-destacados-hr">
      </center>

      <!-- PRODUCTOS DESTACADOS - GENERADOR -->
      <section class="contenedor-productos-home">
        <% products.forEach(product => { %>
          <a href="/productos/<%= product.id %>">
            <article class="elements-subcontainer">
              <section class="img-container">
                <img src="/images/products<%= product.productImages[0].image_path %>" alt="producto" />
              </section>
              <section class="truck-icon-container">
                <i class="fa-solid fa-truck fa-xl"></i>
              </section>
              <section class="descripcion-container">
                <p class="titulo"> <%= product.productBrand.name %> </p>
                <% if (product.discount_percentage > 0) { %>
                  <p class="descuento"> %<%= product.discount_percentage %> Off</p>  
                <%} else { %>
                  <p class="descuento"> - </p>  
                <% } %>
                <p> $<%= product.price %> </p>
              </section>
            </article>
          </a>
        <% }); %>
      </section>
      
      <!-- OFERTAS IMPERDIBLES! - TITULO -->
      <h2 class="home-ofertas-titulo">OFERTAS IMPERDIBLES!</h2>

      <!-- LINA DE SEPARACIÓN-->
      <center>
        <hr class="home-ofertas-hr">
      </center>

      <!-- OFERTAS - GENERADOR -->
      <section class="contenedor-productos-home">
        <% productsWithDiscount.forEach(product => { %>
          <a href="/productos/<%= product.id %>">
            <article class="elements-subcontainer">
              <section class="img-container">
                <img src="/images/products<%= product.productImages[0].image_path %>" alt="producto" />
              </section>
              <section class="truck-icon-container">
                <i class="fa-solid fa-truck fa-xl"></i>
              </section>
              <section class="descripcion-container">
                <p class="titulo"> <%= product.productBrand.name %> </p>
                <p class="descuento"> %<%= product.discount_percentage %> Off</p>
                <p> $<%= product.price %> </p>
              </section>
            </article>
          </a>
        <% }); %>
      </section>
  </main>
  <%- include('./partials/footerPrincipal') %>
  </body>
</html>
