<!DOCTYPE html>
<html lang="en" class="html-home">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/b7372bc3ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!--Producto-->
      <section class="contenedor-producto-detalle">
        <div class="producto-detalle-caja-1">
          <!--Imagen-->
          <img src="/images/<%= producto.imagenesUrl[0] %>" class="producto-detalle-img" alt="Zapato"/>
        </div>
        <!-- Contenedor Titulo & Precio--> 
        <div class="producto-detalle-caja-2">
          <p class="producto-detalle-titulo-talles"> <%= producto.titulo %> </p>
          <p class="producto-detalle-titulo-talles">$ <%= producto.precio %> </p>
          <!--Talles-->
          <h5> Talles </h5>
          <select name="producto-detalle-talles" id="select-cantidad">
            <!--JS bucle "for" -> talles -->
            <% for( let i = 0; i < producto.talles.length; i++ ) { %>
              <option value="1"> <%= producto.talles[i] %> </option>
            <% } %>
          </select>
          <h5> Seleccionar Color: </h5>
          <div class="producto-detalle-colores-container">
            <% for( let i = 0; i < producto.colores.length; i++ ) { %>
              <span class="color"> <%= producto.colores[i] %> </span>
            <% } %>
          </div>
          <hr class="producto-detalle-linea"> 
          <button class="producto-detalle-boton-carrito">Agregar al carrito</button>
        </div>
      </section>
      <!-- Productos relacionados -->
    </main>
    <%- include('./partials/footerPrincipal') %>
  </body>
</html>
