<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/mobileNavBar') %>
    <main>
      <section class="container-login">
        <form action="/usuarios/login" method="POST" class="wrapper-form" enctype="application/json">
          <article class="login-form-row">
            <i class="icono-login fas fa-user"></i>
             <input class="input-login" type="email" name="email" placeholder="Email" value="<%=  locals.old && old.email ? old.email : '' %>"/>

            <!-- email - Error handling -->
              <% if(locals.errorMessages) { %> <% errorMessages.forEach(error => { %> 
              <% if (error.param == 'email') {%>
              <p class="register-form-error-msg"><%= error.msg %></p>
              <% }})} %>
          </article>
          <article class="login-form-row">
            <i class="icono-login fas fa-lock"></i>
            <input class="input-login" type="password" name="password" placeholder="Contraseña" />

            <!-- password - Error handling -->
            <% if(locals.errorMessages) { %> <% errorMessages.forEach(error => { %>
              <% if (error.param == 'password') {%>
              <p class="register-form-error-msg"><%= error.msg %></p>
            <% }})} %>
          </article>
          <article class="options-row">
              <a href="#">¿Has olvidado tu contraseña?</a>
              <span class="remember-user-container">
                <label for="rememberMe">Recordame</label>   
                <input type="checkbox" name="rememberMe" />  
              </span>     
          </article>
          <% if(locals.errorMessages) { %> <% errorMessages.forEach(error => { %> 
            <% if (error.param == 'invalid-credentials') {%>
            <p class="register-form-error-msg"><%= error.msg %></p>
            <% }})} %>
          <article class="login-form-row login-button-sub-container button">
            <button type="submit" class="login-button">Iniciar sesión</button>
          </article>
          <article class="signup-link">
             ¿No eres Miembro?
          </article>
          <article class="login-form-row button2">
            <button type="button" class="login-create-button">
              Crear Cuenta
            </button>
          </article>
          <article class="signup-link">O</article>
          <article class="login-form-row button3">
            <button type="button" class="login-google-button">
              Continuar con Google
            </button>
          </article>
        </form>
      </section>
    </main>

    <%- include('../partials/footerPrincipal') %>
  </body>
</html>
