<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47b81c9b5a.js" crossorigin="anonymous"></script>
    <title>Registrarse</title>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <div class="register-container">
      <form action="/usuarios/register" method="POST" class="register-form" enctype="multipart/form-data">
      <h3>Crea una cuenta</h3>
        <!--firstnName & lastName-->
        <section class="nombre-apellido-section">
          <!--firstName-->
          <label for="nombre">Nombre:</label>
          <input type="text" name="firstName" class="nombre-input" placeholder="Nombre" value="<%= locals.old && old.firstName ? old.firstName : '' %>">
          
          <!--firstName - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='firstName') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %>

          <!--lastName-->
          <label for="apellido">Apellido:</label>
          <input type="text" name="lastName" class="apellido-input" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : '' %>">

          <!--lastName - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='lastName') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %>
          </section>
        <section class="telefono-section">
          <label for="telefono">Teléfono</label>
          <input type="telephone" name="telephone" class="telefono" placeholder="Teléfono" requiered>

          <!--telephone - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='telephone') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %>  
        </section>
        <!--email-->
        <section class="email-section">
          <label for="email">Email:</label>
          <input type="email" name="email" class="email" placeholder="Email" value="<%=  locals.old && old.email ? old.email : '' %>">

        <!--email - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='email') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %>          
        </section>
        <!--password & confirm password-->
        <section class="contrasena-section">
          <!--password-->
          <label for="contrasena">Contraseña:</label>
          <input type="password" name="password" class="contrasena" placeholder="Contraseña" >

        <!--password - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='password') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %> 
          <!--confirm-password-->
          <label for="confirmar-contrasena">Confirmar contraseña:</label>
          <input type="password" name="confirm-password" class="confirmar-contrasena" placeholder="Confirmar contraseña">
          
          <!--confirm-password - Error handling-->
          <% if(locals.errorMessages) { %>
            <% errorMessages.forEach(error => { %>
              <% if (error.param=='confirm-password') {%>
                <p class="register-form-error-msg"><%= error.msg %></p>
          <% }})} %> 

        </section>
        <section>
          <input type="file" name="profile-pic" placeholder="Elige tu foto de perfil..." accept="image/png, image/jpeg, image/jpg">
        </section>
        <section class="botonera-section">
          <button type="submit" class="btn btn btn-info">Crear cuenta</button>
        </section>
      </form>
      <p class="o-separador">O</p>
      <div class="registrarse-google-container"> 
        <button class="registrarse-google-btn">
          <p>Registrarse con Google</p>
          <i class="fa-brands fa-google"></i>
        </button>
      </div>
    </div>
  </main>
  <%- include('../partials/footerPrincipal') %>
</body>
</html>