<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/mobileNavBar') %>
    <main>
        <section class="users-list-main-container">
            <!--User generator-->
            <% users.forEach(user => { %>
              <article class="user-container">
                  <section class="image-id-container">
                    <article class="image-sub-container">
                      <img src="/images/users<%= user.image %>" alt="profile-pic">
                    </article>
                    <article class="id-sub-container">
                      <p class="id"> #<%= user.id %> </p>  
                    </article>
                  </section>
                  <section class="data-container">
                    <h3 class="name-title"> <%= user.first_name + " " + user.last_name %> </h3>
                    <p class="category"> <strong>Categoría:</strong> <%= user.UserCategory.name %> </p>
                    <p class="email"> <strong>Email:</strong> <%= user.email %> </p>
                  </section>
                  <section class="buttons-container">
                    <div class="buttons-subcontainer">
                      <button class="edit-user-button">
                        <a href="/usuarios/<%= user.id %>">
                          <i class="fa-solid fa-user-pen"></i>
                        </a>
                      </button>
                      <form action="/usuarios/<%= user.id %>/eliminar?_method=DELETE" method="POST" class="buttons-container">
                        <button type="submit" class="delete-user-button">
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </form>
                    </div>
                  </section>
              </article>
            <% }) %>
        </section>
    </main>
    <%- include('../partials/footerPrincipal') %>
  </body>
</html>